@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layout_ofMe";
}
<div class="custom_heading-container mt-5">
    <h2>
        ADD Congratultion Form
    </h2>
</div>

<section class="contact_section m-5 layout_padding">
<form method="post" action="/Party/ADD_DATA">
    <div class="mb-3">
        <label for="Email_Party" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Email_Party" name="Email" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
        <label for="Name_Party" class="form-label">Name_Party</label>
        <input type="text" class="form-control" id="Name_Party" name="Name">
    </div>
    <div class="mb-3">
        <label for="Phone_Party" class="form-label">Phone_Party</label>
        <input type="number" class="form-control" id="Phone_Party" name="phone">
    </div>
    <div class="mb-3">
        <label for="Name_Party" class="form-label">Message congratulation </label>
        <input type="text" class="form-control" id="Name_Party" name="Message_con">
    </div>

    <input type="radio" id="option1" name="attend" value="attend">
    <label for="option1">Will_attend </label>

    <input type="radio" id="option1" name="attend" value="Notattend">
    <label for="option1">Not attend 2</label>

        <div class="d-flex justify-content-center">
            <button type="submit" class="  btn btn-primary">Submit</button>

    </div>
</form>
</section>