@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layout_ofMe";
}
@{
    ViewData["Title"] = "Home Page";
}

<!-- end slider section -->

<!-- welcome section -->
<section class="welcome_section layout_padding">
    <div class="container">
        <div class="custom_heading-container">
            <h2>
                Welcome To Our Company
            </h2>
        </div>
        <div class="layout_padding2">
            <div class="img-box">
                <img src="~/images/welcome.png" alt="" />
            </div>
            <div class="detail-box">
                <p>
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                </p>
                <div>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="service_section">
    <div class="container">
        <div class="custom_heading-container">
            <h2>
                Our Services
            </h2>
        </div>
        <div class="service_container layout_padding2">
            <div class="service_box">
                <div class="img-box">
                    <img src="~/images/s-1.jpg" alt="" />
                </div>
                <div class="detail-box">
                    <h4>
                        Business <br />
                        Consultant
                    </h4>
                    <p>
                        have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are
                    </p>
                </div>
            </div>
            <div class="service_box">
                <div class="img-box">
                    <img src="~/images/s-2.jpg" alt="" />
                </div>
                <div class="detail-box">
                    <h4>
                        Marketing <br />
                        Analytics
                    </h4>
                    <p>
                        have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are
                    </p>
                </div>
            </div>
            <div class="service_box">
                <div class="img-box">
                    <img src="~/images/s-3.jpg" alt="" />
                </div>
                <div class="detail-box">
                    <h4>
                        Financial <br />
                        Planning
                    </h4>
                    <p>
                        have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
                        slightly believable. If you are
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="">
                Read More
            </a>
        </div>
    </div>
</section>

